body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #fff;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo  {
    margin: 0;
    background-image: url("images/barbershop.jpg");

}
.logo-text{    
    color: #333;
}

/* nav bar */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    size: bold;
    color: #333;
}

section {
    padding: 50px;
    text-align: center;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
